/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

/*regular styling*/

body{
  background-image: url("images/seinfeld-background.jpg");
  height: auto;
}

h1{
  text-align: center;
  font-size: 75px;
  color: yellow;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
  color: yellow;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  text-align: center;
  
}

p{
  color: yellow;
  font-size: 20px;
}

.start-quiz{
  padding: 10px 10px 10px 10px;
  margin-left: 20px
}

.js-answer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: left;
  vertical-align: middle;
  width: 30%;
  margin: 10px auto;
  text-align: left;
  border: 1px solid black;
  float: inline-end;
}

.answer-formatting{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
}

.submit-feedback{
  margin-left: auto;
  margin-top: 25px;
}

.hide{
  color: yellow;
}

